/* Table.module.css */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .header, .cell {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #da0202;
  }
  
  .row:hover {
    background-color: #f5f5f5;
  }
  